body{
  margin:0;
}

.container{
  display: grid;
  grid-template-columns: minmax(200px, 20%) repeat(3,1fr);
  grid-template-rows: 200px 1fr 1fr;
  min-height: 100vh;
}

li{
  list-style: none;
  font-size: 1.4rem;
  position:relative;
}

a{
  color: whitesmoke;
  text-decoration: none;
}
.sidebar{
  grid-column: 1;
  grid-row: 1/4;
  background-color: #2563eb;
  display: grid;
  grid-template-rows:  100px 1fr 3fr;
  padding-left: 15px;
}

.dashboard-icon{
  height: 21px;
  position: absolute;
  bottom: 2px;
  left: -30px;
  color: white;
}

.nav-list{
  grid-row:2;
  
}

.support-links{
  grid-row: 3;
}

.nav-list>ul, .support-links>ul{
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: bold;
}

.header{
  grid-column: 2/5;
  background-color: whitesmoke;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 3fr 2fr;
  padding-left: 20px;
}

.search{
  position: relative;
  padding-top: 6px;
}
.search-icon{
  height: 25px;
  position: relative;
  top:7px;
}
input{
  width: 80%;
  height: 30px;
  border-radius: 300px;
}
.project-cards{
  grid-row: 2/4;
  grid-column: 2/4;
  background: #cbd5e1;
  padding-left: 20px;
}

.announcements{
  grid-row: 2;
  grid-column: 4;
  background-color: #cbd5e1;
}

.trending{
  grid-row: 3;
  grid-column: 4;
  background-color: #cbd5e1;
}

.button-group{
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items:center;
}

button{
  background-color: #2563eb;
  color: whitesmoke;
  height: 50px;
  width: 100px;
  border-radius: 40px;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 40%));
  grid-auto-rows: 1fr;
  gap: 20px;
}

.card{
  background-color: white;
  padding: 25px;
  box-shadow: -5px 0px goldenrod;
  border-radius: 20px;
  overflow:auto;
}

.side-grid{
  background-color: white;
  display: grid;
  grid-auto-rows: minmax(100px, 1fr);
  margin-right: 50px;
  border-radius: 30px;
  align-items: center;
  justify-items: center;
}

.side-grid-content{
  width: 80%;
  padding: 0 10% 0 10%;
}
